.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General Card Styling */
.centerTitle{
  text-align: center
}

.cardActionButtons{
  display: flex;
  justify-content: flex-end
}

/* End Card Styling */

/* HomePage Styling */
.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myCard {
  max-Width: 90%;
  width: 70vw;
  margin-bottom: 30px;
}

/* End HomePage Styling */

/* Side Nav */
.myList {
  width: 250px;
}
/* End Side Nav */

/* Category Chart Styles */
.bottomForm {
  display: flex;
  flex-wrap: wrap;
}

.myFormControl {
  width: 50%;
  min-width: 120px;
}

/* Category Chart Styles */